<div class="center-dropdown">
  <h1>Pick a country</h1>
  <select
    class="text-2xl font-semibold rounded-lg text-center w-64 h-8"
    [ngModel]="selectedCountryObj"
    (ngModelChange)="onChangeObj($event)"
    name="selectedCountry">
    <option [ngValue]="country" *ngFor="let country of countryObjects">
      {{ country.name }}
    </option>
  </select>
  <div *ngIf="carbonData" class="mt-4">
    <h1>{{ carbonDataCountry }}</h1>
    <div
      *ngIf="
        this.carbonDataIndex == 'high' || this.carbonDataIndex == 'very high'
      ">
      <h2 style="color: red">
        {{ carbonDataIndexNumber }} ({{ carbonDataIndex }})
      </h2>
      <p>gCO<span style="font-size: x-small">2</span>/kwh</p>
    </div>
    <div *ngIf="this.carbonDataIndex == 'moderate'">
      <h2 style="color: orange">
        {{ carbonDataIndexNumber }} ({{ carbonDataIndex }})
      </h2>
      <p>gCO<span style="font-size: x-small">2</span>/kwh</p>
    </div>
    <div
      *ngIf="
        this.carbonDataIndex == 'low' || this.carbonDataIndex == 'very low'
      ">
      <h2 style="color: green">
        {{ carbonDataIndexNumber }} ({{ carbonDataIndex }})
      </h2>
      <p>gCO<span style="font-size: x-small">2</span>/kwh</p>
    </div>

    <!-- {{ carbonData | json }} -->
    <!-- {{ carbonData.data[0].data[0].intensity.index }} -->
  </div>
</div>
