<div class="mt-8 mx-auto text-center">
  <div class="displayTableCell">
    <div class="authBlock">
      <div class="formGroup"></div>
      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="">
        <button
          type="button"
          style="background-color: #4f7ff1"
          class="bg-gray-300 cursor-pointer p-4 rounded-lg font-semibold text-white align-middle my-4"
          (click)="authService.GoogleAuth()">
          Login with Google
        </button>
      </div>
    </div>
  </div>
</div>
