@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: #F2F2F2;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23cc918e' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23aa6060' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23ce808a' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23a85966' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23cc6f8b' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23a4536d' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23c66092' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%239d4e76' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23ba529c' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23934c7f' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23a749aa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23854b88' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;    
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}
#container {
    display: grid;
    grid-template-columns: 70px auto;
    height: 100%;
}
#container #content {
    padding: 30px 50px;
}
#container #content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#container #content ul li {
    background: #fff;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 8px;
}
#container #content ul li a {
    font-size: 1.5em;
    text-decoration: none;
    font-weight: bold;
}
#container #content ul li ul {
    margin-top: 20px;
}
#container #content ul li ul li {
    padding: 0;
}
#container #content ul li ul li a {
    font-size: 1em;
    font-weight: 300;
}
